/* mobile first 0xp-500xp*/
*{margin:0%;
padding: 0%;}

body    {text-align: center;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        display: flex;
        flex-direction:column;
        min-height: 100vh;}

header  {display: flex;
        flex-direction: column;} 


.todo{background-image: url(../img/airesacondicionados.jpg);
        filter:opacity(100%);}

.ima{width: 5em; height: 3em;} 

footer  {display: flex;
        justify-content: left;
        margin-bottom: 0.5em;
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,255,255,0.5998774509803921) 0%, rgba(119,252,252,1) 100%); padding: 2em;}

.ubi    {padding-left: 10em;}

.facebook, .whatsapp, .ubica
        {width: 3em; height: 3em;
        margin-top: 0.5em;}

header  {grid-area: header;}
main    {grid-area: main;}
footer  {grid-area: footer;}

.grilla{display: grid;
        grid-template-areas:
        "header"
        "main"
        "main"
        "footer";}

img     {margin-top: 1em;
        margin-bottom: 0.3em;}

.gris   {background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,255,255,0.5998774509803921) 0%, rgba(119,252,252,1) 100%);}

.parri  {padding: 1em;
        font-weight: bold;
        font-size: large;
        background-color: rgb(216, 227, 247);
        color: rgb(61, 3, 3);}

h2     {color: #1a1d1b;
        text-align: center;}

.fondodos{background-image: url(../img/fondohtml2.jpg);
        filter:opacity(100%);}

h3      {margin-top:2em ;
        margin-bottom: 2em;
        font-weight: bold;
        color: rgb(107, 9, 9);
        background: rgb(35,13,101);
        background: radial-gradient(circle, rgba(35,13,101,0) 0%, rgba(193,255,251,0.5466561624649859) 0%);}


.phel, .plav, .paire {padding: 1em;
        color: rgb(77, 22, 22);
        font-size: large;
        font-weight: bold;
        background: rgb(157,187,199);
        background: radial-gradient(circle, rgba(157,187,199,1) 0%, rgba(193,255,251,0.44021358543417366) 61%);}

.imahtmldos     {width: 8em;
                height: 5em;}


.refricomercial{ background-image: url(../img/fondito.jpg)}

h4      {color: rgb(87, 87, 168);
        font-weight: bold;}

.pcf, .lis{color: rgb(29, 28, 28);}
.showroom{background: rgb(20,126,185);
        background: radial-gradient(circle, rgba(20,126,185,0) 1%, rgba(7,159,147,0.5998774509803921) 42%);}

.show1, .show2, .show3, .show4{height:15em;
                                width: 25em;}

h5  {font-weight: bold;
        font-size: larger;}



@media (min-width:500px){
*{padding: 0;
margin: 0;}

.grilla{display: grid;
        grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        width: 100%;
        height: 100vh;} 

.ima    {width: 10em; height: 7em;
        padding-right: 2em;}

header {display: flex;
        justify-content:space-around}

.bordeuno{margin-top: 5.5em;
        margin-left: 5.5em;
        padding: 30px;
        font-size: 1.5em;
        display: flex;
        flex-direction: row;
        justify-items: right;}

.staff {width: 10em;
        height: 7em;
        margin-top: 2em;}

.bordedos{margin-top: 9.5em;
        margin-left: 5.5em;
        padding: 30px;
        font-size: 1.5em;
        display: flex;
        flex-direction: row;
        justify-items: right;}

.poli   {width: 10em;
        height: 6em;
        margin-top: 2em;}

.imahtmldos{    width: 15em;
                height: 12em;}

.hel, .lav, .aire{ display: flex;
        background: rgb(157,187,199);
        background: radial-gradient(circle, rgba(157,187,199,1) 0%, rgba(193,255,251,0.44021358543417366) 61%);
        justify-items: space-between;}

.phel, .plav, .paire{padding:2.5em ;}

.pcf, .lis{
        text-align:left ;
        font-size:large;
        font-weight: bold;
        color: rgb(36, 34, 34);
        padding:2em;}}


.form-registro{
        width: 38em;
        background:  rgb(162, 219, 245) ;
        padding: 2.8em;
        margin: auto;
        margin-top:5.5em;
        border-radius: 4px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        box-shadow: 7px 13px 37px #000;}

.form-registro h6{
        font-size: 2em;
        margin-bottom: 2em;}

.controls{width: 100%;   
        background: #24303c;
        padding: 1em;
        border-radius: 4px;
        margin-bottom: 1.2em;
        border: 1px solid #1f53c5;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.5em;
        color: white;}

.form-registro p{height: 3.5em;
                text-align: center;
                font-size: 1.8em;}
.form-registro a{
        text-decoration: none;}
.form-registro a:hover{
        text-decoration: underline;}

.form-registro .botons{width: 100%;
                        background: #1f53c5;
                        border:none;
                        padding: 1.2em;
                        margin: 16px;
                        font-size: 1.5em;}
.fondiu{ background: rgb(20,126,185);
        background: linear-gradient(90deg, rgba(20,126,185,0) 1%, rgba(16,140,130,0.5998774509803921) 42%);}

.show{height: 30em;
        width: 50em;}

.botons:hover{transform: scale(1.2);
        transition: all 2s;}

a:hover{transform: scale(1.2);
        transition: all 2s;}

















