.todo               {h1, h2      {color: #256D85;
                                text-align: center;
                                margin-top: 1.5em;}}

.parri      {padding: 1em;
            font-weight: bold;
            font-size: large;
            color:#143946;
            background: rgb(157, 187, 199);
            background: radial-gradient(circle, rgb(157, 187, 199) 0%, rgba(193, 255, 251, 0.4402135854) 20%);}
.bordeuno, .bordedos    { margin-top:1em ;
                        margin-bottom:0.5em;}



@media              (min-width: 500px) {
                    .bordeuno, .bordedos    {margin-top: 1.58em;
                                            margin-left: 1.58em;
                                            padding: 25px;
                                            font-size: 1.25em;
                                            display: flex;
                                            flex-direction: row;
                                            justify-items: right;}

                    .poli, .staff           {width: 10em;
                                            height: 6em;
                                            margin-top: 2em;}}


@media              (min-width: 750px) {
                    .bordeuno, .bordedos{margin-top: 1.5em;
                                        margin-left: 1.5em;
                                        padding: 30px;
                                        font-size: 1.5em;
                                        display: flex;
                                        flex-direction: row;
                                        justify-items: right;}

                    .poli, .staff       {width: 10em;
                                        height: 7em;
                                        margin-top: 2em;}}