
.refricomercial h1, h2  {color: #256D85;
                    font-weight: bold;}

.pcf, .lis      {color: rgb(43, 47, 51);
                background: rgb(157, 187, 199);
                background: radial-gradient(circle, rgb(157, 187, 199) 0%, rgba(193, 255, 251, 0.4402135854) 20%);
                font-weight: bold;
                margin-bottom: 1em;
                margin-top: 0.5 em;}

.video1, .video2, .video3   {width: 28em;
                            height: 16em;}



@media          (min-width: 700px) {
.pcf, .lis      {text-align: left;
                font-size: large;
                padding: 2em;}
.video1, .video2, .video3   {width: 30em;
                            height: 18em;}}
