
.refricomercial {background-image: url(../img/fondito.jpg);
                h4  {color: rgb(87, 87, 168);
                    font-weight: bold;}}
.pcf, .lis      {color: rgb(29, 28, 28);}

.video1, .video2, .video3{width: 25em;
    height: 14em;}



@media          (min-width: 700px) {
.pcf, .lis      {text-align: left;
                font-size: large;
                font-weight: bold;
                color: rgb(36, 34, 34);
                padding: 2em;}
.video1, .video2, .video3{width: 30em;
                    height: 17em;}}
