@mixin size ($wigth, $height){
    height: $height;
    width: $wigth;}

.fondodos   h1, h2  {margin-top: 2em;
                        margin-bottom: 2em;
                        font-weight: bold;
                        color: #256D85;
                        }
.phel, .plav, .paire    {padding: 1em;
                        color: #143946;
                        font-size: large;
                        font-weight: bold;
                        background: rgb(157, 187, 199);
                        background: radial-gradient(circle, rgb(157, 187, 199) 0%, rgba(193, 255, 251, 0.4402135854) 20%);}
.imahtmldos             {@include size(20em, 10em);
                        margin-bottom: 1em;}

            
@media                  (min-width: 500px) {


.hel, .lav, .aire       {background: rgb(157, 187, 199);
                        background: radial-gradient(circle, rgb(157, 187, 199) 0%, rgba(193, 255, 251, 0.4402135854) 61%);
                        justify-items: space-between;}

.phel, .plav, .paire    {padding: 2.8em;}}


@media                  (min-width: 750px) {
.imahtmldos             {@include size(13em, 10em)}

.hel, .lav, .aire       {display: flex;}

.phel, .plav, .paire    {padding: 2.5em;}}