.showroom                     {background: rgb(157, 187, 199);
                              background: radial-gradient(circle, rgb(157, 187, 199) 0%, rgba(193, 255, 251, 0.4402135854) 20%);
                              h1 {font-weight: bold;
                                    font-size:2em;}
                              p{ font-weight: bold;
                               color:#143946 ;}}

.show1, .show2, .show3, .show4{height: 15em;
                              width: 25em;}

.showw{height: 15em;
      width: 20em;}
@media            (min-width: 700px){
                                    .showw{height: 30em;
                                    width: 50em;}}